body {
    font: 16px/1.5 Helvetiva, Arial, sans-serif;
    background-color: #0075CC;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main > * {
    align-self: center;
}

.main > h1 {
    color: #fff;
}

.container {
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.8);
}

.container .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    
}

.container .form  > * {
    height: 36px;
    flex: 1 0 10%;
    background-color: #eee;
    border: 0;
}

.container .form input {
    padding: 5px;
}

.container .form button {
    height: 45px;
    background-color: #0083e6;
    color: #fff;
}

.container .form button:hover {
    background-color:#004980;
}

#result {
    padding: 10px;
    text-align: justify;
}